﻿@model SPolyGames.Models.Instructor
@{

    Layout = null;
}



<!DOCTYPE html>




<html>

<head>
    <title>Instructor Login</title>
    <style>
        #instructorlogin-div1 {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }
        .field-validation-error {
            color: darkred;
        }
    </style>
</head>
<body>

    <div id="instructorlogin-div1">
        @using (Html.BeginForm("Authorize1", "InstructorLogin", FormMethod.Post))
        {
            <table>
                <tr>
                    <td style=" text-decoration: underline">Login for Instructors</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(Model => Model.InsFirst_Name)</td>
                    <td>@Html.EditorFor(Model => Model.InsFirst_Name)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(Model => Model.InsFirst_Name)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(Model => Model.Ins_Password) </td>
                    <td> @Html.EditorFor(Model => Model.Ins_Password)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(Model => Model.Ins_Password)</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="field-validation-error">@Html.DisplayFor(Model => Model.LoginErrorMessage2)</label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="name" value="Login" />
                        <input type="reset" name="name" value="clear" />
                    </td>
                </tr>
            </table>

        }
         





    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


</body>



</html>

