﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    h1 {
        color: darkred;
        text-align: center;
        top: 30%;
    }

    a {
        color: black;
    }

    #guest {
        top: 500px;
        text-align: center;
    }

    #student {
        top: 650px;
        text-align: center;
    }

    #instructor {
        top: 750px;
        text-align: center;
    }
</style>
<div>   <img src="/Images/Saskpoly.png" alt="saskpoly logo" /> </div>
<h1>BIS PolyGames</h1>
<!-- <p id="guest">-->
<form id="guest" action="https://www.google.com/" target="_blank" method="get">
    <button>Guest</button>
</form>
<!-- <a href="https://www.google.com/">Guest</a>-->
<!--</p>-->
<form id="student" action="/Home/StudentLogin" target="_blank" method="get">
    <button>Student</button>
</form>
<form id="instructor" action="/Home/InstructorLogin" target="_blank" method="get">
    <button>Instructor</button>
</form>

<!--  <button type="button" onclick="alert('Hello world!')"> Student</button>
<button type="button" onclick="alert('Hello world!')">Instructor</button>  -->
<!--<form action="action_page.php" method="post">
    <div class="imgcontainer">
        <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
</form>
        -->
