﻿@model SPolyGames.Models.Student
@{ 
  //Layout = null;
    //if (Session["StudentID"] == null)
    //{
      // Response.Redirect("~/Home/StudentLogin");
    //}
} 
<title> StudentLogin</title>
<style>
    #StudentLogin-div {
        position: absolute;
        left: 40%;
        top: 40%;
        border: 1px solid #ccc;
        padding: 10px 10px;
    }
    .field-validation-error 
    {
        color: darkred;
    }
</style>

<div class="imgcontainer">
    <img src="/Images/Saskpoly.png" alt="saskpoly logo" />
</div>

<div id="StudentLogin-div">
    @using (Html.BeginForm("Authorize", "StudentLogin", FormMethod.Post))
    {
        <table>
            <tr>
                <td></td>
                <td style="text-decoration:underline">Login For Students</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.First_Name) </td>
                <td> @Html.EditorFor(model => model.First_Name)</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.First_Name)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.S_Password)
                </td>
                <td>
                    @Html.EditorFor(Model => Model.S_Password)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.S_Password)</td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="field-validation-error">@Html.DisplayFor(Model => Model.LoginErrorMessage)</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" name="name" value="Login" />
                    <input type="reset" name="name" value="clear" />
                </td>
            </tr>
        </table>


    }

</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
